@model SalamiTV.Models.TvProgram

@{
    ViewBag.Title = "Radera program";
}

<h2>Delete</h2>

<h3>Radera detta program?</h3>
<div>
    <h4>TvProgram</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TvChannel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TvChannel.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Broadcasting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Broadcasting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @if (Context.User.IsInRole("Admin"))
            {
                @Html.ActionLink("Back to List", "Index", "Admin")
            }
            else
            {
                @Html.ActionLink("Back to List", "Index")
            }

        </div>
    }
</div>
