@model SalamiTV.Models.TvProgram

@{
    ViewBag.Title = "Programinfo";
}


<div>
    <h4>@Html.DisplayFor(model=> model.TvChannel.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            Kanal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TvChannel.Name)
        </dd>*@

        <dt>
            Program
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Beskrivning
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            Sändningstid
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Broadcasting).ToString().Remove(0, 10).Remove(6)
        </dd>

        <dt>
            Datum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Broadcasting).ToString().Remove(11)
        </dd>

        <dt>
            Längd
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

    </dl>
</div>
@if (Context.User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) | @Html.ActionLink("Back to List", "Index")

    </p>
}
else
{

    @Html.ActionLink("Back to List", "Index")
}
