@model IEnumerable<SalamiTV.Models.TvProgram>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TvChannel.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Broadcasting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsInFocus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TvChannel.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.TextAreaFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Broadcasting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.IsInFocus.HasValue)
                @*@Html.DisplayFor(modelItem => item.IsInFocus)*@

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "TvProgram", new { id = item.ID }, null) |
                @Html.ActionLink("Details", "Details", "TvProgram", new { id = item.ID }, null) |
                @Html.ActionLink("Delete", "Delete", "TvProgram", new { id = item.ID }, null)
            </td>
        </tr>
    }

</table>
<input type="submit" value="Spara" />
</body>
</html>
