<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SeeSharpTV</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @*nya navigeringen*@
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SeeSharpTV</a>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
                    <li><a href="/">Tablå</a></li>
                    <li><a href=@Html.ActionLink("Om oss", "About", "Home")></a></li>
                    <li><a href="/Home/Contact">Kontakta oss</a></li>
                </ul>
                <form class="navbar-form navbar-left" autocomplete="off" id="topnavsearch" action="/action_page.php">
                    <div class="input-group">
                        <input id="inputautocomplete" type="text" class="form-control" placeholder="Sök..." name="search">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit" onclick="getProgramInfo();">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Min sida</a></li>
                </ul>
            </div>
        </div>
    </nav>

    @*<div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#"><i class="fas fa-home fa-lg"></i></a></li>
                        <li><a href="/Home/About">Om oss</a></li>
                        <li><a href="/Home/Contact">Kontakta oss</a></li>
                        <li>
                            <div class="ui-widget">
                                 <label for="tags">Tags: </label>
                                         <input id="tags">
                                <form autocomplete="off" id="topnavsearch">
                                    <input id="inputautocomplete" type="text"
                                           name="search" placeholder="Sök...">
                                    <button id="formButton" onclick="getProgramInfo();" type="button">Sök</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="mypage.html">Min sida <i class="fas fa-sign-in-alt fa-lg"></i></a></li>
                    </ul>
                </div>
            </nav>*@


    @*<div class="col-xs-12">
            <p id="programinfo">
                <ul id="prog-info-ul"></ul>
            </p>
        </div>*@

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <footer class="container-fluid text-center">
        <a href="/Home/About"> Om oss </a><br />
        <a href="/Home/Contact"> Kontakta oss </a>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
