@model IEnumerable<SalamiTV.Models.TvProgram>


<div id="programcolumn">
    <ul class="list-group">
        @foreach (var program in Model)
        {

            if (program.EndTime > DateTime.Now && program.Broadcasting < DateTime.Now || !Context.User.IsInRole("Admin"))
            {
                <li class="list-group-item">
                    <span class="visibleitem">
                        Pågående!
                        <br />
                        @Html.DisplayFor(modelItem => program.Broadcasting.TimeOfDay).ToString().Remove(5)
                        <br />
                        <br />
                        @Html.DisplayFor(modelItem => program.Title)
                        <br />

                    </span>
                    <span class="hiddenitem">
                        @Html.DisplayFor(modelItem => program.Details)<br />

                        @foreach (var cat in program.TvProgramCategories)
                        {
                            @Html.DisplayFor(modelItem => cat.Category.Genre)<br />
                        }
                        <br />
                        [ @Html.DisplayFor(modelItem => program.EndTime).ToString().Remove(16)]
                        <br />
                        @Html.ActionLink("Gå till...", "Index", "TvChannel", new { id = program.TvChannelID }, null)
                    </span>
                </li>
            }
            else
            {

                <li class="list-group-item">

                    <span class="visibleitem">
                        @Html.DisplayFor(modelItem => program.Broadcasting.TimeOfDay).ToString().Remove(5)
                        <br />
                        <br />
                        @Html.DisplayFor(modelItem => program.Title)
                        <br />

                    </span>
                    <span class="hiddenitem">
                        @Html.DisplayFor(modelItem => program.Details)<br />

                        @foreach (var cat in program.TvProgramCategories)
                        {
                            @Html.DisplayFor(modelItem => cat.Category.Genre)<br />
                        }
                        <br />
                        [ @Html.DisplayFor(modelItem => program.EndTime).ToString().Remove(16)]
                        <br />
                    </span>
                    @Html.ActionLink("Gå till...", "Index", "TvChannel", new { id = program.TvChannelID }, null) <br />

                    @if (Context.User.IsInRole("Admin"))
                    {
                        <p id="adminmenu">
                            @Html.ActionLink("Edit", "Edit", "TvProgram", new { id = program.ID }, null) |
                            @Html.ActionLink("Details", "Details", "TvProgram", new { id = program.ID }, null) |
                            @Html.ActionLink("Delete", "Delete", "TvProgram", new { id = program.ID }, null) 
                        </p>
                    }

                </li>
            }
        }
    </ul>
</div>