@model SalamiTV.Models.UserTablau

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>UserTablau</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        @*printas till GUI men ger helt sjuka värden*@
        <div class="form-group">
            @Html.LabelFor(model => model.TvChannelID, "TvChannelID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Name", new SelectList(ViewBag.TvChannels, "Name"),htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TvChannel.Name, "", new { @class = "text-danger" })
            </div>
        </div>


        @*Printar värdet för id för att kunna ändras. ID ska inte kuna ändras utan är enbart för test*@ 
        <div class="form-group">
            @Html.LabelFor(model => model.AspNetUsersId, "AspNetUsersId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model=>model.AspNetUsersId, null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AspNetUsersId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
