@model IEnumerable<SalamiTV.Models.UserTablau>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="container-fluid">
    <div id="tvchannel">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-xs-12 col-sm-6 col-md-3">

                    <div id="channelheader">
                        <h4>@Html.DisplayFor(modelItem => item.TvChannel.Name)</h4>
                        <h4>@Html.DisplayFor(modelItem => item.ID)</h4>
                    </div>

                    <ul class="list-group">
                        @foreach (var thing in item.TvChannel.TvPrograms)
                        {

                            <li class="list-group-item">
                                @Html.DisplayFor(modelItem => thing.Title)
                                @*@Html.DisplayFor(modelItem => thing.Details)*@
                                <br />

                                @Html.DisplayFor(modelItem => thing.Broadcasting.TimeOfDay)
                                @foreach (var cat in thing.TvProgramCategories)
                                {
                                    @Html.DisplayFor(modelItem => cat.Category.Genre)<br />
                                }
                            </li>

                            @Html.ActionLink("Details", "Details", "UserTablau", new { id = item.ID }, null)

                        }
                    </ul>
                </div>
                @Html.ActionLink("Delete", "Delete", "UserTablau", new { id = item.ID }, null)
            }
        </div>

    </div>
</div>